@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: 'Raleway', serif;
    margin: 0;
    box-sizing: border-box;
}

p {
    padding: 4px;
    line-height: 24px;
}

a {
    color: #007BFF;
}

hr {
    border: 0;
    height: 2px;
    background-color: #000;
    width: 100px;
    margin: auto;
}

header {
    color: rgb(53, 53, 53);
    padding: 34px;
    text-align: center;
    font-style: normal;
}

header p {
    padding: 4px;
    font-size: large;
}

body {
    background-color: #f4f4f4;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}

.container {
    margin: 0 auto;
    padding: 40px;
    flex: 1;
}

.about {
    margin-bottom: 30px;
    text-align: center;
    font-size: large;
    font-weight: 500;
}

.apps {
    margin-bottom: 30px;
}

.app-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.app-item {
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 30%;
    text-align: center;
}

.app-item img {
    height: 85px;
    border-radius: 8px;
}

.app-item h3 {
    font-size: 1.4em;
    margin: 10px 0;
}

.app-item p {
    font-size: 1em;
    color: #777;
}

main {
    max-width: 800px;
    margin: 1.4rem auto;
    padding: 1.3rem;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
}

main p {
    margin-bottom: 12px;
}

footer {
    text-align: center;
    background-color: #383838;
    color: white;
    padding: 1.15rem;
    width: 100%;
    margin-top: auto;
}

.footer-links {
    margin-top: 1rem;
}

.footer-links a {
    color: #ffd700;
    text-decoration: none;
    margin: 0 0.5rem;
}

.footer-links a:hover {
    text-decoration: underline;
}